body {
    /*background: url(../images/logo-small-bg.png);*/
    /*background-color: #fadaf0;*/
    /*background: url(../images/pageBG_200x200.gif);*/
}

@font-face {
    font-family: myfont;
    src: url(../css/Znikomit.otf);
}

body .content {
    /*width: 1024px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    /*background:url(../images/shadow.png) ;*/
}
body .header{
    text-align: center;
}
body .logo {
    text-align: center;
    height: 150px;
    /*background-color: #eeeeee;*/
    background-color: #fff;
}
.panel {

}

h4 {
    color: #f2a0d9 !important ;
}

h5 {
    color: #f2a0d9 !important ;
	font-size:	1.35rem;
}

h3 {
    color: #f2a0d9 !important ;
}

p {
    font-family: myfont;
}

/* high resolution devices */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    p{
        font-size:1.1rem;
    }
}

/* high resolution devices */
@media
only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (   min--moz-device-pixel-ratio: 1),
only screen and (        min-device-pixel-ratio: 1) {
    p{
        font-size:1rem;
    }
}

li {
    font-family: myfont;
}

span.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.underline{
    background-color: #ffff00;
}
div#midmail{
	margin-top: 30px;
	width: 100%;
	text-align: center;
}
div.blogo{
	margin-top: -10px;
}

div .smallerdiv{
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	margin-top: -20px;
}