<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bertille et Jean-Gabriel 2014</title>

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="../css/foundation.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <!-- /build -->

    <!-- build:js app.min.css -->
    <script src="../js/foundation.min.js"></script>
    <script src="../js/vendor/modernizr.js"></script>
    <!-- /build-->
</head>
<body>
<div class="content">
    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="header large-12">
                <img src="../images/title-2.png"/>
            </div>
            <div class="logo large-12">
                <p>logo</p>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="top-bar">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name"></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <!-- The Section wrap -->
            <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="programme.html">Programme</a></li>
                    <li class="active"><a href="acces.html">Access / Transport</a></li>
                    <li><a href="hotel.html">Ou Dormir</a></li>
                    <li><a href="list.html">Liste de Mariage</a></li>
                    <li><a href="photos.html">Photos</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="row">
        <div class="panel">
            <span class="underline">peux tu me donner l'adresse</span>
        </div>
    </div>
</div>

<script src="../js/vendor/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>