<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bertille et Jean-Gabriel 2014</title>
    <link rel="stylesheet" href="../css/foundation.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/vendor/modernizr.js"></script>
</head>
<body>
<div class="content">
    <div class="row">
        <div class="large-10 medium-12 columns">
            <img src="../images/title-2.png"/>
            <div class="logo large-12">
                <p>logo</p>
            </div>

        </div>
    </div>

    <div class="large-10">
        <div class="row">
            <div>
                <div class="large-2 columns">
                    <a href="accueil.html">Accueil</a>
                </div>
                <div class="large-2 columns">
                    <a href="programme.html">Programme</a>
                </div>
                <div class="large-2 columns">
                    <a href="acces.html">Acces / Transport</a>
                </div>
                <div class="large-2 columns">
                    <a href="hotel.html">Ou Dormir</a>
                </div>
                <div class="large-2 columns">
                    <a href="list.html">Liste de Mariage</a>
                </div>
                <div class="large-1 columns">
                    <a href="photos.html">Photos</a>
                </div>
                <div class="large-1 columns">
                    <a href="contact.html">Contacts</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
        <p>les maries</p>
    </div>


</div>

</body>
</html>