<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bertille et Jean-Gabriel 2014</title>

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="../css/foundation.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <!-- /build -->

    <!-- build:js app.min.css -->
    <script src="../js/foundation.min.js"></script>
    <script src="../js/vendor/modernizr.js"></script>
    <!-- /build-->
</head>
<body>
<div class="content">
    <div class="row">
        <div class="large-12 medium-12 columns">
            <div class="logo large-12 blogo" style="height:200px;">
                <img src="../images/logo-small.png"/>
            </div>
			<div class="header large-12 smallerdiv">
                <img src="../images/title-2.png"/>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="top-bar">
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name"></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <!-- The Section wrap -->
            <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="acces.html">Access / Transport</a></li>
                    <li><a href="hotel.html">Ou Dormir</a></li>
                    <li class="active"><a href="list.html">Liste de Mariage</a></li>
                    <li><a href="photos.html">Photos</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="row">
        <div class="panel">
		<br>
		<br>
            <p>Bertille et Jean-Gabriel ont ouverts une liste aux Galeries Lafayette (aussi appelée une liste « 1001 Listes »). Si vous souhaitez leur offrir un cadeau sur cette liste, il existe plusieurs façons de procéder.</p>
			<p>Vous pouvez, soit :</p>
			<div style="margin-left:40px">
			<p><li>Leur offrir un cadeau via internet en vous rendant sur le site <a href="http://www.1001listes.fr/moncompte/vueinvites/numLst/640760/pageName/presentation/">www.1001listes.fr</a></li>
			<br>
			<li>Leur offrir un cadeau en vous rendant dans un magasin physique en vous rendant dans un espace 1001 listes, dans tous les magasins Galeries Lafayette ou au BHV Marais (Paris)</li>
			<br>
			<li>Leur offrir un cadeau en appelant le 0 892 23 1001 (0,34cts/min) pour recevoir la liste par courrier</li>
			</p>
			</div>
			<p>Par avance, Bertille et Jean-Gabriel vous remercient.</p>
        </div>
    </div>
</div>

<script src="../js/vendor/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>