<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bertille et Jean-Gabriel 2014</title>

    <!-- build:css style.min.css -->
    <link rel="stylesheet" href="../css/foundation.css"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <!-- /build -->

    <!-- build:js app.min.css -->
    <script src="../js/foundation.min.js"></script>
    <script src="../js/vendor/modernizr.js"></script>
    <!-- /build-->
    
    <style>
        .galleria{ width: 100%; height: 400px; background: #000 }
    </style>
    
</head>
<body>
<div class="content">
    <div class="row">
        <div class="large-12 medium-centered medium-4 small-centered small-12 columns">
            <div class="large-centered large-3 medium-centered medium-12 hide-for-small-only column">
                <img class="large-12 medium-centered medium-12 small-12 column" src="../images/logo-small.png"/>
            </div>
            <div class="header large-12 medium-12 small-12">
                <img class="large-centered large-4 medium-12 small-12 column" src="../images/title-2.png"/>
            </div>
        </div>
    </div>

    <div class="row">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <!-- Title Area -->
                <li class="name"></li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <!-- The Section wrap -->
            <section class="top-bar-section">

                <!-- Left Nav Section -->
                <ul>
                    <li><a href="accueil.html">Accueil</a></li>
                    <li><a href="acces.html">Acces / Transport</a></li>
                    <li><a href="hotel.html">Ou Dormir</a></li>
                    <li><a href="list.html">Liste de Mariage</a></li>
                    <li class="active"><a href="photos.html">Photos</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </section>
        </nav>
    </div>

    <div class="row panel" id="upload">
        <div class="large-12 medium-12 small-12 columns">
            <div class="row hide" id="alert-msg">
                <div data-alert class="alert-box alert ">
                    <span>impossible de se connecter au serveur.</span>
                    <a href="#" class="close">&times;</a>
                </div>
            </div>

            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h3>Enregistrer une photo</h3>
                </div>
                <div class="large-12 medium-12 small-12 columns">
                    <div class="row collapse">
                        <div class="large-2 medium-2 small-12 columns">
                            <p>Mot de passe :</p>
                        </div>
                        <div class="large-10 medium-10 small-12 columns">
                            <input type="password" id="password" name="password" value="" placeHolder="date du mariage au format jjmmaaaa"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="large-centered large-2 medium-centered medium-2 small-centered small-6 columns">
                    <button class="button postfix" onclick="gotoupload();"/>
                    Entrer</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="formContent">
    </div>

    <div class="row panel">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <h3>Acceder a la galerie photo</h3>
            </div>
            <p class="large-12 medium-12 small-12 columns">en cours de construction. Vous receiverez un email quand le site sera pret. Merci</p>
            <div class="large-centered large-2 medium-centered medium-2 small-centered small-6 columns">
                <button class="button postfix" onclick="gotogallery();">Galerie</button>
            </div>
        </div>
    </div>
</div>
    <div id='imageContainer' class='galleria hide large-12 medium-12 small-12 large-centered medium-centered small-centered'>
    </div>
</div>
    
<script src="../js/vendor/jquery.js"></script>
<script src="../js/foundation.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="../js/galleria/galleria-1.4.2.min.js"></script>

<script src="../js/script.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>